<html lang="en">
<head>
  <style> {{ files["invoice-commission.stackedit.css"] }} </style>
  <style> {{ files["invoice-commission.custom.css"] }} </style>  
</head>
<body>
  <div class="container">
    <div class="header-region">
      {{ sections[0] }}
      {{ sections[1] }}
      {{ sections[2] }}
    </div>
    <div class="totals-region">
      {{ sections[3] }}
      {{ sections[4] }}
    </div>
    <div class="breakdown-region">
      {{ sections[5] }}
    </div>
    <div class="summary-region">
      {{ sections[6] }}
    </div>
    <div class="notes-region">
      <div>{{ sections[9] }}</div>
      <div>{{ sections[10] }}</div>
    </div>
  </div>
</body>
</html>
